/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #0d0d0d; /* Dark black */
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Container */
.home-container {
  text-align: center;
}

/* Small text ("It's me") */
.small-text {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

/* Big text ("Manish") */
.big-text {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

/* Responsive */
@media (min-width: 768px) {
  .small-text {
    font-size: 2rem;
  }
  .big-text {
    font-size: 6rem;
  }
}
